*{
    margin: 0;
    padding: 0;
    list-style: none;
}

img{
    vertical-align: middle;
}


.container {
    width: 100%;
    /* 當螢幕小於1300的時候會顯示100% */
    max-width: 1300px;
    /* 當超過1300的時候,會以1300的比例去固定,不會再更大了 */
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

/* []是屬性選取器  03:47~04:00*/

/* 當div(*=)擁有col-的時候就套用下面的設定 */
div[class*=col-]{
    /* padding: 0 15px; */
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
}

.col-1 {width: 8.3333333%;}  /* 100/12 */
.col-2 {width: 16.6666666%;}   /* 100/6 */
.col-3 {width: 25%;}  /* 100/4 */
.col-4 {width: 33.333333%;}
.col-5 {width: 41.6666666%;}
.col-6 {width: 50%;}
.col-7 {width: 58.333333%;}
.col-8 {width: 66.666666%;}
.col-9 {width: 75%;}
.col-10 {width: 83.333333%;}
.col-11 {width: 91.6666666%; }
.col-12 {width: 100%;}

/* 專門給平板以上使用的,當大於768的時候,這邊的設定會在大於768的時候蓋掉前面的設定 */
@media screen and (min-width: 768px){
    .col-md-1 {width: 8.3333333%;}
    .col-md-2 {width: 16.6666666%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.333333%;}
    .col-md-5 {width: 41.6666666%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.333333%;}
    .col-md-8 {width: 66.666666%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.333333%;}
    .col-md-11 {width: 91.6666666%; }
    .col-md-12 {width: 100%;}
}
/* 平板的橫向 */
@media screen and (min-width: 992px){
    .col-lg-1 {width: 8.3333333%;}
    .col-lg-2 {width: 16.6666666%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.333333%;}
    .col-lg-5 {width: 41.6666666%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.333333%;}
    .col-lg-8 {width: 66.666666%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.333333%;}
    .col-lg-11 {width: 91.6666666%; }
    .col-lg-12 {width: 100%;}
}

/* 桌機 */
@media screen and (min-width: 1200px) {
    .col-xl-1 {width: 8.3333333%;}
    .col-xl-2 {width: 16.6666666%;}
    .col-xl-3 {width: 25%;}
    .col-xl-4 {width: 33.333333%;}
    .col-xl-5 {width: 41.6666666%;}
    .col-xl-6 {width: 50%;}
    .col-xl-7 {width: 58.333333%;}
    .col-xl-8 {width: 66.666666%;}
    .col-xl-9 {width: 75%;}
    .col-xl-10 {width: 83.333333%;}
    .col-xl-11 {width: 91.6666666%; }
    .col-xl-12 {width: 100%;}
}
.item{
    width: 100%;
}

.item img{
    width: 100%;
}

.pic img{
    width: 100%;
}

.album .containet{
    max-width: 100%;
    /* 複寫掉原本的東西,然後變成滿版 */
}

.album div[class*='col-']{
    padding: 0;
    margin-bottom: 0;
}


@media screen and (min-width:768px){
    .history div[class*='col-']:first-child{
        order:1;
    }
    .service .item{
        display: flex;
    }
    .service .item .pic{
        width: 30%;
    }
    .service .item .txt{
        width: 70%;
    }
}


.main-top-imformation{
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}
.imformation{
    display: flex;
    align-items: center;
    
    margin:0 25px;
}

.imformation a{
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
}

.SocialMedia{
    margin: 20px 50px 0 0;
}
.SocialMedia a{
    margin: 5px;
    text-decoration: none;
    color: white;
}

.SocialMedia a:hover{
    color: rgba(0, 195, 255,1);
}

a{
    cursor: pointer;
}

/* .poster{
    position: relative;
    width: 100%;
}
.poster img{
    width: 100%;
} */

.header{
    width: 80%;
    margin: 10px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    justify-content: center;
    top: 16%;
    /* background-color: rosybrown; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a{
    text-decoration: none;
    font-family: sans-serif;
    color: #fff;
    padding: 10px;
    font-weight: bold;
}

.header a:hover{
    color: aqua;

}
.wrap{
    display: flex;
    justify-content: center; 
    align-items: center;
}
.mainSlideshow{
    position: absolute; 
    top: 30%;
    left: 50%;
    transform: translateX(-50%); 
    /* x軸平移50%-本身圖片的寬度(所以-50%) */
    color: #fff; 
    font-family: Montserrat, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 300px;
}
.mainSlideshow h1{
    font-size: 150px;
}
.poster{
    /* background-image: url("manufax-pic/asset 1.png"); */
    background-size: cover;  
    width: 100%;
}

.poster nav{
    /* padding: 30px 0 30px 30px; */

}
.poster img{
    width: 100%;

}

.mainSlideshow h2{
    font-size: 28px;
    position: absolute;
    top: 300px;
    left: 20px; 
    font-weight: lighter;
}

.mainSlideshow button{
    background-color: aqua;
    width: 300px;
    height: 60px;
    border-style: none;
    color: #fff;
    
}
.mainSlideshow button:hover{
    background-color: #333;
}

.mainSlideshow a{
    display: flex;
    align-self: center;
    text-decoration: none;
}
.service{
    margin: 100px;
    font-family: sans-serif;
    font-size: 20px;
}
.OurServicesTitle::before{
    content: '';
    border-bottom: 3px solid rgb(61, 199, 253);
    width: 100px;
    display: inline-block;
}

.service .OurServicesTitle{
    text-align: center;
}

.service .container{
    margin: auto;
    
    font-size: 30px;
    margin-top: 100px;
}
/* .container .item{
    width: 450px;
    height: 250px;
    margin: 50px;
} */
.service .container .pic img{
    width: 100px;
    height: 90px;
}
.service .container h3{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 100;
    margin-bottom: 20px;
}

.service .container p{
    font-size: 20px;
    font-family: sans-serif;
    color: #888;
    font-weight: 100;
    line-height: 30px;
}

.history{
    background-color: rgb(236, 236, 236);
    padding-top: 70px;
    padding-bottom: 100px;
}


.history .container {
    font-family: sans-serif;
    margin-top: 150px;
}

.history .txt h3{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 50px;
}

.history h3::before{
    content: '';
    border-bottom: 3px solid rgb(61, 199, 253) ;
    width: 100px;
    display: block;
    position:relative;
    top: -30px;
    left: 0;
}

.history .txt h4{
    font-size: 20px;
    line-height: 30px;
    font-weight: lighter;
}
.history .txt p{
    font-size: 20px;
    color: #888;
    font-weight: lighter;
    line-height: 30px;
    margin-bottom: 40px;
}

.history button{
    width: 200px;
    height: 70px;
    background-color:rgb(61, 199, 253);
    color: #fff;
    border-radius: 3px;
    border: none;
    
}

.album{
    margin-bottom: 100px;
}

.album img{
	/* width: auto;
	height: auto; */
    width: 100%;
    height: 100%;
    /* align-items: center; */
    /* 寫在父層 */
}


.album h1{
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    /* top: 50%; */
    /* transform: translateY(-50%); */
}



.album .item{
    width: 100%;
    height: 400px;
    text-align: center;
    position: relative;
}


.news{
    margin-top: 50px;
}

.news{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
}

.news .pic{
    margin-bottom: 30px;
}
.news h3{
    line-height: 60px;
}
.news .RecentNews{
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    margin-bottom: 80px;
    border:red 3px solid ;
    text-align: center;
    /*文字置中寫在子層 */
}

.news .RecentNews::before{
    /* 不要空格不然會跑到下面 */
    content: '';
    border-bottom:3px solid rgb(61, 199, 253);
    width: 100px;
    display: inline-block;
}

.news a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.news .buttonRecentNews{

    margin-top: 100px;
    margin-bottom: 60px;
    display: block;
    text-align: center;
    line-height: 70px;
    /* 用裡面的內容把高度撐開,就不需要設高度 */
    width: 200px;
    /* height: 50px; */
    background-color: rgb(61, 199, 253);
}

.news a h2{
    color: #333;
    font-weight: lighter;
}

.news a h2:hover{
    color:rgb(61, 199, 253);
}

.news a h3{
    color:rgb(61, 199, 253);
    font-weight: lighter;
    font-size: 15px;
}

.news a h3:hover{
    color: #333;
}

.buttonSeeAllNews{
    display: flex;
    justify-content: center;
    color: aliceblue;
}
.buttonRecentNews a{
    color: #fff;
}
.buttonRecentNews:hover{
    background-color: #333;
    color: #fff;
}
.buttonRecentNews{

    /* flex-direction: row; */
    
    /* margin: auto; */
    margin-bottom: 50px;
}

.footer p{
    color: #aaaaaa;
}
.footer h4{
    margin-bottom: 80px;
}

.footer{
    padding: 150px 50px;
    background-color: #333;
    display: flex;
    flex-direction: row;
    font-family:sans-serif ;
    font-weight: lighter;
    color: white;
}
.footer .list{
    font-size: 20px;
    width: 20%;
    line-height: 45px;
    margin: auto;
    font-weight: lighter;
}
.footer a {
    text-decoration: none;
}

.footer .l2 a{
    color: aqua;
}

.footer .l2 a:hover{
    color: #fff;
}
.footer .l4 a{
    color: aqua;
}
.footer .l4 a:hover{
    color: #fff;
}